.navbar {
  padding: 1rem;
  background: #171717;
  color: #F5F5F5;
}

.container {
  height: 350px;
  margin: 1rem;
  padding: 1rem;
  background: #F5F5F5;
  box-shadow: rgba(100, 110, 111, 0.2) 0px 5px 10px 0px;
  position: relative;
}

#balance, #outstanding-loan, #current-pay {
  margin: 2rem 1rem 2rem 1rem;
}

#features-header {
  margin-top: 1rem;
}

#laptop-features > li {
  font-size: 0.8rem;
}

#laptop-image {
  max-width: 200px;
}

#laptop-name {
  font-size: 1.5rem;
}

#laptop-price {
  font-weight: bold;
}

#laptop-image, #laptop-name, #laptop-description, #laptop-price, #buy-now {
  margin: 1rem;
}

#laptop-name, #laptop-price {
  margin-top: 3rem;
}

#clear-wishlist {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
}